<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">EduSmart</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li>
                    <button class="btn btn-primary btn-margin"
                            *ngIf="!auth.isAuthenticated();else other_content"
                            (click)="auth.login()">
                        <span class='glyphicon glyphicon-user'></span> Log In
                    </button>
              
                    <ng-template #other_content>
                        <a (click)="auth.logout()">
                            <span class='glyphicon glyphicon-user'></span> Logout
                        </a>



                    </ng-template>

                </li>
                <!--<a (click)="auth.logout()" *ngIf="auth.isAuthenticated()">
        <span class='glyphicon glyphicon-user'></span> Logout
    </a>-->
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
